h1 {
	border: yellow dotted 12px; 
	background-color: black;
	color: yellow;
	font-size: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
	width: 1000px;
	height: auto;
	text-align: center;
}
h2 {
	border: dashed 12px;
	background-color: red;
	color: black;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 750px;
	height: auto;
	text-align: center;
}
p {
	border: groove gold 25px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	width: 1200;
	height: auto;
	text-align: left;
}
ul {
	border: outset 25px;
	border-color: pink lightgreen gold cyan;
	background-color: teal;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 1200px;
	height: auto;
	
}
ol {
	border: outset 25px;
	border-color: pink lightgreen gold cyan;
	background-color: teal;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 1200px;
	height: auto;
	
}
footer {
	border: double 25px red;
	background: brown;
	color: red;
	font-family: "Times New Roman";
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	width:auto;
	height: auto;
}
html {
	background-image:url(http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822279-1920-1080.jpg)
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	width: auto;
	height: auto;
}
body {
	border: groove green 25px;
	background-color: orange;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: auto;
	height: auto;
}
article {
	border: groove teal 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 1200;
	height: auto;
}
