h1 {
	border: dotted 50px; 
	margin: auto;
	padding: 100px;
	width: 1000px;
	height: 200px;
	text-align: center;
}
h2 {
	border: dashed 25px;
	margin: auto;
	padding: 25px;
	width: 750px;
	height: 75px;
	text-align: center;
}
p {
	border: double 25px;
	margin: 25px;
	padding: 12px;
	width: 1200;
	height: auto;
	text-align: left;
}
ul {
	border: outset 6px;
	border-color: red purple yellow blue;
	margin: 25px;
	padding: 25px;
	width: 1200px;
	height: auto;
	
}
footer {
	border:
	margin:
	padding:
	width:
	height:
}
html {
	border:
	margin:
	padding:
	width:
	height:
}
body {
	border:
	margin:
	padding:
	width:
	height:
}
nav {
	border: solid;
	margin: 75px;
	padding:
	width:
	height:
	text-align: left;
}
table {

}
