h1 {
	border: dotted 50px; 
	margin: 100px;
	padding: 100px;
	width: 1000px;
	height: 200px;
}
h2 {
	border:
	margin:
	padding:
	width:
	height:
}
p {
	border:
	margin:
	padding:
	width:
	height:
}
ul {
	border:
	margin:
	padding:
	width:
	height:
}
footer {
	border:
	margin:
	padding:
	width:
	height:
}
html {
	border:
	margin:
	padding:
	width:
	height:
}
body {
	border:
	margin:
	padding:
	width:
	height:
}
