h1 {
	background-color: purple;
	color: yellow;
	font-style: ;
}
h2 {
	background-color: yellow;
	color: purple;
}
h3 {
	background-color: green;
	color: yellow;
}
main {
	border-style: none none none solid;
	border-color: red;
}
header {
	background-color: red;

