// * {
	outline: dotted red 1px;
}
nav {
	width: 150px; 
	float:left;
	color: yellow;
	border: yellow solid 1px;
	margin-left: 10px;
}
main {
	margin-left: 151px;
	margin: 10px 10px 10px 161px;
}
img.right {
	width: auto;
	height: 700px;
	margin: 10px;
}
img.left {
	width: auto;
	height: 700px;
	margin-left: 275px;
}
html {
	background-color:#0066cc;
}
h1 {
	color:lightgreen ;
	background-color: grey;
	font-style: ;
	font-size: ;
	border: groove lightgreen 10px;
	padding: 1%;
	margin: 10px;
}
h2 {
	color: cyan;
	font-style: ;
	font-size: ;
	border: double cyan 10px;
	background-color: grey;
	padding: 1%;
	margin: 10px;
}
h3 {
	color: red;
	background-color: ;
	font-style: ;
	font-size: ;
	margin: 10px;
}
article {
	background-color: white;
	clear: both;
	border: outset orange 10px;
	padding: 1%;
	margin: 10px;
}
footer{
	clear: both;
	background-color: red;
	font-style: ;
	font-size: ;
	margin: 10px;
}
ul {
	color: orange;
	background-color: ;
	font-style: ;
	font-size: ;
	width: 160px;
	float: left;
}
br {
	clear: both;
}
body {
	margin-left: 150px;
	margin-right: 150px;
}
p.footer {
	color: orange;
	background-color: ;
	font-style: ;
	font-size: ;
	width: 160px;
	float: left;
}
p.front {
	color: violet;
	clear: both;
	border: dashed violet 1px;
	padding: 1%;
	margin: 10px;
}
p.description {
	color: violet;
	clear: both;
	border: dashed violet 1px;
	padding: 1%;
	margin: 10px;
}
