* {
	outline: dotted red 1px;
}
nav {
	width: 200px; 
	float:left;
}
main {
	margin-left: 201px;
}
img.right {
	width: 700px;
	height: auto;
	margin-left: 300px;
	margin-right: 300px;
}
html {
	background-color: ;
}
h1 {
	color: ;
	background-color: ;
	font-style: ;
	font-size: ;
}
h2 {
	color: ;
	background-color: ;
	font-style: ;
	font-size: ;
}
h3 {
	color: ;
	background-color: ;
	font-style: ;
	font-size: ;
}
